.pfp {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.title {
  text-align: center;
  color: rgb(21, 0, 255);
  font-size: xx-large;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  border-radius: 5px;
}

.navbar a:hover {
  transition: 0.2s;
  background-color: rgb(8, 8, 193);
  border-radius: 5px;
  border-style: solid;
  border-color: white;
}

.navbar li {
  float: left;
}

h1, h2, h3, h4, h5, h6, p {
  color: white;
  text-align: center;
}

body {
  background-color: rgb(0, 0, 0);
}

.about-divider, .games-divider {

  border-style: groove;
  border-width: 5px;
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(4, 0, 250);
}

.yuboyimg-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 15px;
  border-style: groove;
}



.game-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.game-boxes div {
  height: 370px;
  width: 335px;
  background: rgb(4, 0, 250);
  margin: 30px;
  border-radius: 10px;
  border-style: groove;
  color: white;
  font-size: 20px;
}

.link-1 {
  text-align: center;
  color: white;
}

.chess-img, .marble-img, .slowroad-img{
  border: 5px;
  border-radius: 10px;
  border-style: groove;
  height: 160px;
  width: 160px;
}

.games-divider-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.games-divider-2 div {
  height: 370px;
  width: 335px;
  background: rgb(4, 0, 250);
  margin: 30px;
  border-radius: 10px;
  border-style: groove;
  color: white;
  font-size: 20px;
}

.wrassling-img, .cookie-img, .slope-img{
  border: 5px;
  border-radius: 10px;
  border-style: groove;
  height: 160px;
  width: 160px;
}
.yt-divider-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.thumbsup {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  position: relative; top: 14px; left: 10px;
}

.yt-row1 {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  margin-top: 20px;
}


.yt-brawl {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers both the circle and the box horizontally */
  flex-wrap: wrap;
}


.Brawl-pfp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 40px; /* Space between the circle and the box */
}

.Brawl-pfp img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire circle */
}

.brawl-box {
  width: 250px;
  padding: 0px;
  background-color: blue;
  color: white;
  text-align: center;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
}




.yt-beast {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers both the circle and the box horizontally */
  flex-wrap: wrap;
}

.Beast-pfp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 40px; /* Space between the circle and the box */
}

.Beast-pfp img {
  width: 100%;
  height: 100%;
  border: white;
  border-width: 2px;
  border-style: solid;
  object-fit: cover; /* Ensures the image covers the entire circle */
}

.beast-box {
  width: 250px;
  padding: 0px;
  background-color: blue;
  color: white;
  text-align: center;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
}


.yt-row2 {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  margin-top: 20px;
}


.yt-mark {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers both the circle and the box horizontally */
  flex-wrap: wrap;
}


.mark-pfp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 40px; /* Space between the circle and the box */
}

.mark-pfp img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire circle */
}

.mark-box {
  width: 250px;
  padding: 0px;
  background-color: blue;
  color: white;
  text-align: center;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
}


.yt-cory {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers both the circle and the box horizontally */
  flex-wrap: wrap;
}

.cory-pfp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 40px; /* Space between the circle and the box */
}

.cory-pfp img {
  width: 100%;
  height: 100%;
  border: white;
  border-width: 2px;
  border-style: solid;
  object-fit: cover; /* Ensures the image covers the entire circle */
}

.cory-box {
  width: 250px;
  padding: 0px;
  background-color: blue;
  color: white;
  text-align: center;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
}
.Yuboy-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  height: auto;
  border: 5px;
  border-radius: 30px;
  border-style: groove;
  border-color: white;
  transition: .3s;
}

.Yuboy-3:hover {
  transform: scale(1.2);
}

.credits-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
